In [1]:
import os
import numpy as np
import pandas as pd

In [13]:
# Create a files variable that contains all of our data files.
files = os.listdir("data")

In [14]:
files[:5]

['annual_aqi_by_county_2000.csv',
 'annual_aqi_by_county_2001.csv',
 'annual_aqi_by_county_2002.csv',
 'annual_aqi_by_county_2003.csv',
 'annual_aqi_by_county_2004.csv']

In [17]:
# Read in data from 2000
year_2000 = pd.read_csv("./data/annual_aqi_by_county_2000.csv")
year_2000.head()

,State,County,Year,Days with AQI,Good Days,Moderate Days,Unhealthy for Sensitive Groups Days,Unhealthy Days,Very Unhealthy Days,Hazardous Days,Max AQI,90th Percentile AQI,Median AQI,Days CO,Days NO2,Days Ozone,Days PM2.5,Days PM10
0,Alabama,Baldwin,2000,257,111,96,39,10,1,0,205,129,54,0,0,215,42,0
1,Alabama,Clay,2000,271,155,101,14,1,0,0,177,90,46,0,0,188,83,0
2,Alabama,Colbert,2000,106,38,66,2,0,0,0,124,80,58,0,0,0,106,0
3,Alabama,DeKalb,2000,354,169,123,58,4,0,0,159,115,51,0,0,297,56,1
4,Alabama,Elmore,2000,242,125,78,37,2,0,0,166,112,50,0,0,242,0,0

In [18]:
# function to read data
def process_data(file):
    df = pd.read_csv("./data/" + file)
    return df

In [20]:
file_list = [process_data(file) for file in files]

In [22]:
file_merge = pd.concat(file_list, axis=0)

In [23]:
file_merge

,State,County,Year,Days with AQI,Good Days,Moderate Days,Unhealthy for Sensitive Groups Days,Unhealthy Days,Very Unhealthy Days,Hazardous Days,Max AQI,90th Percentile AQI,Median AQI,Days CO,Days NO2,Days Ozone,Days PM2.5,Days PM10
0,Alabama,Baldwin,2000,257,111,96,39,10,1,0,205,129,54,0,0,215,42,0
1,Alabama,Clay,2000,271,155,101,14,1,0,0,177,90,46,0,0,188,83,0
2,Alabama,Colbert,2000,106,38,66,2,0,0,0,124,80,58,0,0,0,106,0
3,Alabama,DeKalb,2000,354,169,123,58,4,0,0,159,115,51,0,0,297,56,1
4,Alabama,Elmore,2000,242,125,78,37,2,0,0,166,112,50,0,0,242,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
961,Wyoming,Sublette,2022,243,208,34,1,0,0,0,105,54,46,0,0,242,1,0
962,Wyoming,Sweetwater,2022,212,176,35,0,1,0,0,157,57,43,0,0,152,31,29
963,Wyoming,Teton,2022,213,200,13,0,0,0,0,100,48,44,1,1,209,2,0
964,Wyoming,Uinta,2022,181,179,2,0,0,0,0,55,17,6,0,0,0,0,181
965,Wyoming,Weston,2022,181,179,2,0,0,0,0,58,44,40,0,0,181,0,0

In [34]:
file_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24442 entries, 0 to 965
Data columns (total 18 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   State                                24442 non-null  object
 1   County                               24442 non-null  object
 2   Year                                 24442 non-null  int64
 3   Days with AQI                        24442 non-null  int64
 4   Good Days                            24442 non-null  int64
 5   Moderate Days                        24442 non-null  int64
 6   Unhealthy for Sensitive Groups Days  24442 non-null  int64
 7   Unhealthy Days                       24442 non-null  int64
 8   Very Unhealthy Days                  24442 non-null  int64
 9   Hazardous Days                       24442 non-null  int64
 10  Max AQI                              24442 non-null  int64
 11  90th Percentile AQI                  24442 non-null  int64
 12  Median AQI                           24442 non-null  int64
 13  Days CO                              24442 non-null  int64
 14  Days NO2                             24442 non-null  int64
 15  Days Ozone                           24442 non-null  int64
 16  Days PM2.5                           24442 non-null  int64
 17  Days PM10                            24442 non-null  int64
dtypes: int64(16), object(2)
memory usage: 3.5+ MB

In [24]:
# check null value
file_merge.isna().sum()

State                                  0
County                                 0
Year                                   0
Days with AQI                          0
Good Days                              0
Moderate Days                          0
Unhealthy for Sensitive Groups Days    0
Unhealthy Days                         0
Very Unhealthy Days                    0
Hazardous Days                         0
Max AQI                                0
90th Percentile AQI                    0
Median AQI                             0
Days CO                                0
Days NO2                               0
Days Ozone                             0
Days PM2.5                             0
Days PM10                              0
dtype: int64

In [25]:
file_merge.to_csv('data/air_quality.csv', index=False)

In [36]:
vehicle_counts_by_state = pd.read_csv("./data/vehicle_counts_by_state.csv")

In [37]:
vehicle_counts_by_state.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 306 entries, 0 to 305
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   State      306 non-null    object
 1   Year       306 non-null    int64
 2   EV         306 non-null    object
 3   PHEV       306 non-null    object
 4   HEV        306 non-null    object
 5   Biodiesel  306 non-null    object
 6   E85        306 non-null    object
 7   CNG        306 non-null    object
 8   Propane    306 non-null    object
 9   Hydrogen   306 non-null    object
 10  Methanol   306 non-null    int64
 11  Gasoline   306 non-null    object
 12  Diesel     306 non-null    object
dtypes: int64(2), object(11)
memory usage: 31.2+ KB

In [38]:
# check null value
vehicle_counts_by_state.isna().sum()

State        0
Year         0
EV           0
PHEV         0
HEV          0
Biodiesel    0
E85          0
CNG          0
Propane      0
Hydrogen     0
Methanol     0
Gasoline     0
Diesel       0
dtype: int64

In [39]:
ev_population = pd.read_csv("./data/Electric_Vehicle_Population_Data.csv")

In [40]:
ev_population.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124716 entries, 0 to 124715
Data columns (total 17 columns):
 #   Column                                             Non-Null Count   Dtype
---  ------                                             --------------   -----
 0   VIN (1-10)                                         124716 non-null  object
 1   County                                             124714 non-null  object
 2   City                                               124714 non-null  object
 3   State                                              124716 non-null  object
 4   Postal Code                                        124714 non-null  float64
 5   Model Year                                         124716 non-null  int64
 6   Make                                               124716 non-null  object
 7   Model                                              124535 non-null  object
 8   Electric Vehicle Type                              124716 non-null  object
 9   Clean Alternative Fuel Vehicle (CAFV) Eligibility  124716 non-null  object
 10  Electric Range                                     124716 non-null  int64
 11  Base MSRP                                          124716 non-null  int64
 12  Legislative District                               124419 non-null  float64
 13  DOL Vehicle ID                                     124716 non-null  int64
 14  Vehicle Location                                   124687 non-null  object
 15  Electric Utility                                   124243 non-null  object
 16  2020 Census Tract                                  124714 non-null  float64
dtypes: float64(3), int64(4), object(10)
memory usage: 16.2+ MB

In [41]:
# check null value
ev_population.isna().sum()

VIN (1-10)                                             0
County                                                 2
City                                                   2
State                                                  0
Postal Code                                            2
Model Year                                             0
Make                                                   0
Model                                                181
Electric Vehicle Type                                  0
Clean Alternative Fuel Vehicle (CAFV) Eligibility      0
Electric Range                                         0
Base MSRP                                              0
Legislative District                                 297
DOL Vehicle ID                                         0
Vehicle Location                                      29
Electric Utility                                     473
2020 Census Tract                                      2
dtype: int64